<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78844472313-hobtk9atdet0pvi4v80f6r0k4u1f9lk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78844472313-hobtk9atdet0pvi4v80f6r0k4u1f9lk5</string>
	<key>API_KEY</key>
	<string>AIzaSyDCaTqiDRVOz7rUiE9u0c0m8PPDd1p2N7M</string>
	<key>GCM_SENDER_ID</key>
	<string>78844472313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n.gribok.KKOApp</string>
	<key>PROJECT_ID</key>
	<string>kkoapp-fc1fc</string>
	<key>STORAGE_BUCKET</key>
	<string>kkoapp-fc1fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78844472313:ios:8e0277cb778eceec386b28</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <string>NO</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
    <string>YES</string>
    <key>FirebaseScreenReportingEnabled</key>
    <false/>
</dict>
</plist>
